<ui:composition template="/templates/uma-coluna.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="head">
        <f:metadata>
            <f:viewParam name="pessoaToLoadExampleC" value="#{contatoBean.pessoaToLoadExampleC}" />
        </f:metadata>

        <f:event type="preRenderView" listener="#{contatoBean.loadPessoaExampleC}" />
        <!-- 
            ================
            Eventos:
            ================
            postAddToView: runs right after the component is added to view during view build time (which is usually during restore view phase, but can also be during render response phase, e.g. navigation).
            preValidate: runs right before the component is to be validated (which is usually during validations phase, but can also be apply request values phase if immediate="true").
            postValidate: runs right after the component is been validated (which is usually during validations phase, but can also be apply request values phase if immediate="true").
            preRenderView: runs right before the view is rendered during render response phase.
            preRenderComponent: runs right before the component is rendered during render response phase.
         -->
    </ui:define>


    <ui:define name="superior">
        <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
            <h:form id="frmInnerMenuSuperior" prependId="false">
                <ul>
                    <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_EXCLUIR')">
                        <li><h:commandButton id="btnList" styleClass="#{contatoBean.pageList ? 'menu-ativo' : ''}"
                                actionListener="#{contatoBean.loadSearchMode}" value="Pesquisa" /></li>
                    </sec:authorize>

                    <sec:authorize access="hasAnyRole('OP_CONTATO_INCLUIR')">
                        <li><h:commandButton id="btnForm" styleClass="#{contatoBean.pageForm ? 'menu-ativo' : ''}"
                                actionListener="#{contatoBean.loadInsertMode}" value="Cadastro" /></li>
                    </sec:authorize>

                    <!-- Menu com opções específicas | Comentar caso não seja usado  -->
                    <ui:remove>
                        <li><img src="#{resource['images:marcador.png']}" /></li>

                        <li><a class="menuOpcoes" href="#">Outras Opções</a>
                            <ul>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                            </ul></li>
                    </ui:remove>
                    <!-- Fim do menu com opções específicas  -->
                </ul>
            </h:form>
        </sec:authorize>
    </ui:define>

    <ui:define name="breadcrumbs">
        <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
            <p>Você está em:</p>
            <h:link outcome="/index" title="Página Inicial" value="Página Inicial" />
            <h:link outcome="/pages/contato/contato" title="Contato" value="Contato" />

            <h:link styleClass="last-breadcrumbs" outcome="/pages/contato/contato" title="#{contatoBean.operationTitle}"
                value="#{contatoBean.operationTitle}">
                <f:param name="mode" value="#{contatoBean.mode}" />
                <f:param name="filter" value="#{contatoBean.filter}" />
            </h:link>
        </sec:authorize>
    </ui:define>

    <ui:define name="conteudo">
        <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
            <h:panelGroup id="pnlMain" layout="block">

                <sec:authorize access="hasAnyRole('OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR')">
                    <h:panelGroup id="pnlForm" rendered="#{contatoBean.pageForm}" layout="block">
                        <ui:insert name="form">
                            <ui:include src="/pages/contato/form.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
                    <h:panelGroup id="pnlList" rendered="#{contatoBean.pageList}" layout="block">
                        <ui:insert name="list">
                            <ui:include src="/pages/contato/list.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>
            </h:panelGroup>
        </sec:authorize>
    </ui:define>

    <ui:define name="direita">
        <h3>Opções</h3>
        <h:form id="frmInnerMenu" prependId="false">
            <ul>
                <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
                    <li><h:commandButton id="btnList" styleClass="#{contatoBean.pageList ? 'menu-ativo' : ''}"
                            actionListener="#{contatoBean.loadSearchMode}" value="Pesquisa" /></li>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('OP_CONTATO_INCLUIR')">
                    <li><h:commandButton id="btnForm" styleClass="#{contatoBean.pageForm ? 'menu-ativo' : ''}"
                            actionListener="#{contatoBean.loadInsertMode}" value="Cadastro" /></li>
                </sec:authorize>
            </ul>
        </h:form>
    </ui:define>

</ui:composition>