<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR')">
        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{contatoBean.entity.id}" />

                    <h:outputLabel value="Carregando pessoa de id '#{pessoaToLoadExampleC}'..." rendered="#{not empty pessoaIdToLoad3}" />
                    <tjrn:selectOneMenu id="pessoa" label="Pessoa" value="#{contatoBean.entity.pessoa}"
                        valueOptionList="#{contatoBean.pessoaList}" readonly="#{contatoBean.actionView}" />

                    <tjrn:selectOneMenu id="tipoContato" label="TipoContato" value="#{contatoBean.entity.tipoContato}"
                        valueOptionList="#{contatoBean.tipoContatoList}" readonly="#{contatoBean.actionView}" />

                    <tjrn:inputText id="descricao" label="Descricao" value="#{contatoBean.entity.descricao}" size="25" maxlength="50"
                        readonly="#{contatoBean.actionView}" />
                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="10">
                    <h:commandButton id="btnSaveAndClean" value="Salvar" actionListener="#{contatoBean.saveAndClean}"
                        rendered="#{not contatoBean.actionView}" styleClass="submitform" />
                    <h:commandButton id="btnSaveAndContinue" value="Salvar e continuar editando" actionListener="#{contatoBean.saveAndContinue}"
                        rendered="#{not contatoBean.actionView}" styleClass="submitform" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </sec:authorize>

</ui:composition>