<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:tjrncc="http://java.sun.com/jsf/composite/util"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
        <h:panelGroup styleClass="busca" layout="block">
            <h:form id="frmSearch">
                <p:panel>
                    <f:validateBean disabled="true">
                        <h:panelGrid columns="3">

                            <tjrn:selectOneMenu id="pessoa" label="Pessoa" value="#{contatoBean.entityToSearch.pessoa}"
                                valueOptionList="#{contatoBean.pessoaList}" />

                            <tjrn:selectOneMenu id="tipoContato" label="TipoContato" value="#{contatoBean.entityToSearch.tipoContato}"
                                valueOptionList="#{contatoBean.tipoContatoList}" />

                            <tjrn:inputText id="descricao" label="Descricao" value="#{contatoBean.entityToSearch.descricao}" size="25"
                                maxlength="50" />
                        </h:panelGrid>
                    </f:validateBean>

                    <h:commandButton id="btnSearch" styleClass="submitform" actionListener="#{contatoBean.search}" value="Buscar" />
                </p:panel>
            </h:form>
        </h:panelGroup>

        <h:form id="frmSearchList">

            <p:dataTable id="dtTable" var="obj" value="#{contatoBean.dataLazyModel}" paginator="true" rows="10" lazy="true"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} Foram encontrados #{contatoBean.dataLazyModel.rowCount} registros."
                paginatorPosition="bottom" styleClass="tabela" currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro foi encontrado.">

                <p:column headerText="Id" sortBy="#{obj.id}">
                    <h:outputText value="#{obj.id}" />
                </p:column>
                <p:column headerText="Pessoa" sortBy="#{obj.pessoa}">
                    <h:outputText value="#{obj.pessoa.label}" />
                </p:column>
                <p:column headerText="TipoContato" sortBy="#{obj.tipoContato}">
                    <h:outputText value="#{obj.tipoContato.label}" />
                </p:column>
                <p:column headerText="Descricao" sortBy="#{obj.descricao}">
                    <h:outputText value="#{obj.descricao}" />
                </p:column>

                <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
                    <p:column headerText="Ações" styleClass="acoes">
                        <h:panelGrid columns="1">
                            <sec:authorize access="hasAnyRole('OP_CONTATO_LER')">
                                <p:commandButton id="btnView" value="Visualizar" actionListener="#{contatoBean.loadViewMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>

                            <sec:authorize access="hasAnyRole('OP_CONTATO_ALTERAR')">
                                <p:commandButton id="btnEdit" value="Alterar" actionListener="#{contatoBean.loadEditMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>

                            <sec:authorize access="hasAnyRole('OP_CONTATO_EXCLUIR')">
                                <p:commandButton id="btnDelete" value="Excluir" actionListener="#{contatoBean.delete(obj)}" icon="ui-icon-close"
                                    update=":frmSearchList:dtTable, :messages">
                                    <p:confirm header="Exclusão de Registro" message="Deseja realmente excluir este registro?"
                                        icon="ui-icon-alert" />
                                </p:commandButton>
                            </sec:authorize>
                        </h:panelGrid>
                    </p:column>
                </sec:authorize>
            </p:dataTable>

            <tjrncc:confirmDelete id="cnfDelete" action="#{contatoBean.delete}" update=":frmSearchList:dtTable, :messages" />
        </h:form>
    </sec:authorize>
</ui:composition>
