<ui:composition template="/templates/uma-coluna.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">


    <ui:define name="superior">
    </ui:define>

    <ui:define name="breadcrumbs">
    </ui:define>

    <ui:define name="conteudo">
        <script type="text/javascript">
                                    // Funções criadas pra fazer a limpeza visual dos componentes do form,
                                    // pois ao tentar fazer a limpesa via "update" dos componentes JSF o
                                    // componente "p:autocomplete" perdia a capacidade de fazer a busca.
                                    function pessoa_clear() {
                                        document
                                                .getElementById('frmSave:pessoa_input').value = ""
                                    }
                                    function tipoContato_clear() {
                                        document
                                                .getElementById('frmSave:tipoContato_input').value = ""
                                    }
                                </script>


        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{contatoBean.entity.id}" />

                    <h:outputLabel value="Pessoa" for="pessoa" />
                    <p:autoComplete id="pessoa" value="#{agendaBean.pessoa}" converter="simpleEntity" minQueryLength="3" queryDelay="1000"
                        completeMethod="#{agendaBean.findPessoas}" oncomplete="tipoContato_clear()" var="obj" itemLabel="#{obj.label}"
                        itemValue="#{obj}" forceSelection="true" size="50">
                        <p:ajax event="itemSelect" listener="#{agendaBean.selecionarPessoa}" update="contatos, :messages" />
                    </p:autoComplete>

                    <h:outputLabel value="Tipo de Contato" for="tipoContato" />
                    <p:autoComplete id="tipoContato" value="#{agendaBean.tipoContato}" converter="simpleEntity" minQueryLength="1"
                        queryDelay="1000" completeMethod="#{agendaBean.findTiposContatos}" var="obj" itemLabel="#{obj.label}" itemValue="#{obj}"
                        forceSelection="true" size="50" dropdown="true">
                        <p:ajax event="itemSelect" listener="#{agendaBean.selecionarTipoContato}" update="contatos, :messages" />
                        <!-- 
                        <p:ajax event="keyup" listener="#{agendaBean.existePessoaSelecionada}" update=":messages"/>
                         -->
                    </p:autoComplete>

                    <h:panelGrid id="contatos" style="padding-top: 5px;">
                        <h:outputLabel value="Contatos cadastrados: " rendered="#{not empty agendaBean.contatoList}" />
                        <p:dataList value="#{agendaBean.contatoList}" var="c" itemType="disc" rendered="#{not empty agendaBean.contatoList}">  
                            #{c.descricao}  
                        </p:dataList>
                    </h:panelGrid>

                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="10" style="padding-top:10px;">
                    <!--
                        Obs: Tive que utilizar a requisição AJAX pois a requisição normal bagunçava visualmente o form. 
                        E mesmo sendo AJAX, tive que fazer o update direto nos componentes do form. Ao tentar fazer
                        no form como um todo ocorria o mesmo problema visual.
                    -->
                    <p:commandButton id="btnLimparPesquisa" value="Limpar Pesquisa" actionListener="#{agendaBean.limparPesquisa}"
                        update="frmSave:contatos, :messages" oncomplete="pessoa_clear(), tipoContato_clear()" styleClass="submitform" />
                </h:panelGrid>
            </p:panel>
        </h:form>

    </ui:define>

    <ui:define name="direita">
    </ui:define>

</ui:composition>