#macro( capitalize $value )$value.substring(0,1).toUpperCase()$value.substring(1)#end
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_ALTERAR')">
        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{${table.atributeName}Bean.entity.id}" />
                    
                    #foreach( $column in $table.columns )
                        #if($!column.foreignKey)
                        ##se for ForeignKey -> Montar Combo
    
                            <tjrn:selectOneMenu id="${column.atributeName}" label="#capitalize(${column.atributeName})"
                            value="#{${table.atributeName}Bean.entity.${column.atributeName}}"
                            valueOptionList="#{${table.atributeName}Bean.${column.atributeName}List}" readonly="#{${table.atributeName}Bean.actionView}" />
                        #elseif( ($!column.type == 'Date' || $!column.type == 'Timestamp') && !$!column.primaryKey)
                        ##se for campo Data
    
                            <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                            <p:calendar id="$column.atributeName" value="#{${table.atributeName}Bean.entity.${column.atributeName}}" pattern="dd/MM/yyyy"
                            locale="pt_BR" navigator="true" readonly="#{${table.atributeName}Bean.actionView}"/>
                            <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                        #elseif($!column.type == 'Boolean' && !$!column.primaryKey)
                        ##se for campo Boolean -> CheckBox
    
                            <h:outputLabel value="#capitalize($column.atributeName) ?" styleClass="input-label" for="$column.atributeName" />
                            <h:selectBooleanCheckbox id="$column.atributeName" value="#{${table.atributeName}Bean.entity.${column.atributeName}}" readonly="#{${table.atributeName}Bean.actionView}"/>
                            <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                        #elseif($!column.type == 'BigDecimal' && !$!column.primaryKey)
                        ##se for campo BigDecimal
    
                            <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                            <h:inputText id="$column.atributeName" value="#{${table.atributeName}Bean.entity.${column.atributeName}}" readonly="#{${table.atributeName}Bean.actionView}">
                                <f:convertNumber locale="pt_BR" minFractionDigits="2" />
                            </h:inputText>
                            <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                        #elseif($!column.type == 'Integer' && !$!column.primaryKey)
                        ##se for campo Integer
    
                            <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                            <p:spinner id="$column.atributeName" value="#{${table.atributeName}Bean.entity.${column.atributeName}}" readonly="#{${table.atributeName}Bean.actionView}" />
                            <p:message id="${column.atributeName}_message" for="$column.atributeName" />                        
                        #elseif($!column.type == 'String' && !$!column.primaryKey)                    
                        ##se for campo String
                            #if($!column.length > 255)
                                ##se o campo for String maior que 255 caracteres
    
                                <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                                <h:inputTextarea id="$column.atributeName" value="#{${table.atributeName}Bean.entity.${column.atributeName}}" readonly="#{${table.atributeName}Bean.actionView}" />
                                <p:message id="${column.atributeName}_message" for="$column.atributeName"/>
                            #else
                                ##se o campo for String menor igual que 255 caracteres
                                #set( $size = $column.length / 2 )
    
                                <tjrn:inputText id="$column.atributeName" label="#capitalize($column.atributeName)"
                                value="#{${table.atributeName}Bean.entity.${column.atributeName}}" size="$size" maxlength="$column.length" 
                                readonly="#{${table.atributeName}Bean.actionView}" />
                            #end ##end -> if($!column.length > 255)
                        #end ##end -> if($!column.foreignKey)
                    #end ##end -> foreach   
                </h:panelGrid>
    
                <h:panelGrid columns="2" cellpadding="10">
                    <h:commandButton id="btnSaveAndClean" value="Salvar" actionListener="#{${table.atributeName}Bean.saveAndClean}"
                        rendered="#{not ${table.atributeName}Bean.actionView}" styleClass="submitform" />
                    <h:commandButton id="btnSaveAndContinue" value="Salvar e continuar editando"
                        actionListener="#{${table.atributeName}Bean.saveAndContinue}" rendered="#{not ${table.atributeName}Bean.actionView}" styleClass="submitform" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </sec:authorize>

</ui:composition>