#macro( capitalize $value )$value.substring(0,1).toUpperCase()$value.substring(1)#end
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:tjrncc="http://java.sun.com/jsf/composite/util"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
        <h:panelGroup styleClass="busca" layout="block">
            <h:form id="frmSearch">
                <p:panel>
                    <f:validateBean disabled="true">
                        <h:panelGrid columns="3">
                            #foreach( $column in $table.columns )
                                #if($!column.foreignKey)
                                ##se for ForeignKey -> Montar Combo
            
                                    <tjrn:selectOneMenu id="${column.atributeName}" label="#capitalize(${column.atributeName})"
                                    value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}"
                                    valueOptionList="#{${table.atributeName}Bean.${column.atributeName}List}" />
                                #elseif( ($!column.type == 'Date' || $!column.type == 'Timestamp') && !$!column.primaryKey)
                                ##se for campo Data
            
                                    <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                                    <p:calendar id="$column.atributeName" value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}" pattern="dd/MM/yyyy"
                                    locale="pt_BR" navigator="true" />
                                    <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                                #elseif($!column.type == 'Boolean' && !$!column.primaryKey)
                                ##se for campo Boolean -> CheckBox
    
                                    <tjrn:selectOneMenuBoolean id="$column.atributeName" label="#capitalize($column.atributeName)" styleClassOfLabel="input-label-left" value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}"/>
                                #elseif($!column.type == 'BigDecimal' && !$!column.primaryKey)
                                ##se for campo BigDecimal
            
                                    <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                                    <h:inputText id="$column.atributeName" value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}">
                                        <f:convertNumber locale="pt_BR" minFractionDigits="2" />
                                    </h:inputText>
                                    <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                                #elseif($!column.type == 'Integer' && !$!column.primaryKey)
                                ##se for campo Integer
            
                                    <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                                    <p:spinner id="$column.atributeName" value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}" />
                                    <p:message id="${column.atributeName}_message" for="$column.atributeName" />                        
                                #elseif($!column.type == 'String' && !$!column.primaryKey)                    
                                ##se for campo String
                                    #if($!column.length > 255)
                                        ##se o campo for String maior que 255 caracteres
            
                                        <h:outputLabel value="#capitalize($column.atributeName)" styleClass="input-label" for="$column.atributeName" />
                                        <h:inputTextarea id="$column.atributeName" value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}" />
                                        <p:message id="${column.atributeName}_message" for="$column.atributeName" />
                                    #else
                                        ##se o campo for String menor igual que 255 caracteres
                                        #set( $size = $column.length / 2 )
            
                                        <tjrn:inputText id="$column.atributeName" label="#capitalize($column.atributeName)"
                                        value="#{${table.atributeName}Bean.entityToSearch.${column.atributeName}}" size="$size" maxlength="$column.length" />
                                    #end ##end -> if($!column.length > 255)
                                #end ##end -> if($!column.foreignKey)
                            #end ##end -> foreach   
                        </h:panelGrid>                    
                    </f:validateBean>
    
                    <h:commandButton id="btnSearch" styleClass="submitform" actionListener="#{${table.atributeName}Bean.search}" value="Buscar" />
                </p:panel>
            </h:form>
        </h:panelGroup>
    
        <h:form id="frmSearchList">
    
            <p:dataTable id="dtTable" var="obj" value="#{${table.atributeName}Bean.dataLazyModel}" paginator="true" rows="10" lazy="true"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} Foram encontrados #{${table.atributeName}Bean.dataLazyModel.rowCount} registros."
                paginatorPosition="bottom" styleClass="tabela" currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro foi encontrado.">
                    
                    #foreach( $column in $table.columns )
                        <p:column headerText="#capitalize(${column.atributeName})" sortBy="#{obj.${column.atributeName}}">
                            #if($!column.foreignKey)
                                <h:outputText value="#{obj.${column.atributeName}.label}" />
                            #elseif($!column.type == 'Boolean')
                                <h:outputText value="#{obj.${column.atributeName} ? 'Sim' : 'Não'}" />
                            #elseif($!column.type == 'Date' || $!column.type == 'Timestamp')
                                <h:outputText value="#{obj.${column.atributeName}}" converter="javax.faces.DateTime"/>
                            #else
                                <h:outputText value="#{obj.${column.atributeName}}" />
                            #end
                        </p:column>
                    #end
    
                <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
                    <p:column headerText="Ações" styleClass="acoes">
                        <h:panelGrid columns="1">
                            <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER')">
                                <p:commandButton id="btnView" value="Visualizar" actionListener="#{${table.atributeName}Bean.loadViewMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>                    
                        
                            <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_ALTERAR')">
                                <p:commandButton id="btnEdit" value="Alterar" actionListener="#{${table.atributeName}Bean.loadEditMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>
                            
                            <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_EXCLUIR')">
                                <p:commandButton id="btnDelete" value="Excluir" title="Excluir" actionListener="#{${table.atributeName}Bean.delete(obj)}"
                                    icon="ui-icon ui-icon-close" update=":frmSearchList:dtTable, :messages">
                                    <p:confirm header="Exclusão de Registro" message="Deseja realmente excluir este registro?"
                                        icon="ui-icon-alert" />
                                </p:commandButton>
                            </sec:authorize>
                        </h:panelGrid>
                    </p:column>
                </sec:authorize>
            </p:dataTable>
        </h:form>
    </sec:authorize>
</ui:composition>
