#macro( capitalize $value )$value.substring(0,1).toUpperCase()$value.substring(1)#end
<ui:composition template="/templates/uma-coluna.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="superior">
        <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
            <h:form id="frmInnerMenuSuperior" prependId="false">
                <ul>
                    <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
                        <li><h:commandButton id="btnList" styleClass="#{${table.atributeName}Bean.pageList ? 'menu-ativo' : ''}"
                                actionListener="#{${table.atributeName}Bean.loadSearchMode}" value="Pesquisa" /></li>
                    </sec:authorize>
                    
                    <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_INCLUIR')">
                        <li><h:commandButton id="btnForm" styleClass="#{${table.atributeName}Bean.pageForm ? 'menu-ativo' : ''}"
                                actionListener="#{${table.atributeName}Bean.loadInsertMode}" value="Cadastro" /></li>
                    </sec:authorize>
                    
                    <!-- Menu com opções específicas | Comentar caso não seja usado  -->
                    <ui:remove>
                        <li><img src="#{resource['images:marcador.png']}" /></li>
    
                        <li><a class="menuOpcoes" href="#">Outras Opções</a>
                            <ul>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                            </ul></li>
                    </ui:remove>
                    <!-- Fim do menu com opções específicas  -->
                </ul>
            </h:form>
        </sec:authorize>
    </ui:define>

    <ui:define name="breadcrumbs">
        <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
            <p>Você está em:</p>
            <h:link outcome="/index" title="Página Inicial" value="Página Inicial" />
            <h:link outcome="/pages/$table.name.toLowerCase()/$table.name.toLowerCase()" title="#capitalize($table.atributeName)"
                value="#capitalize($table.atributeName)" />
    
            <h:link styleClass="last-breadcrumbs" outcome="/pages/$table.name.toLowerCase()/$table.name.toLowerCase()"
                title="#{${table.atributeName}Bean.operationTitle}" value="#{${table.atributeName}Bean.operationTitle}">
                <f:param name="mode" value="#{${table.atributeName}Bean.mode}" />
                <f:param name="filter" value="#{${table.atributeName}Bean.filter}" />
            </h:link>
        </sec:authorize>
    </ui:define>

    <ui:define name="conteudo">
        <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
            <h:panelGroup id="pnlMain" layout="block">

                <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_INCLUIR', 'OP_$table.name.toUpperCase()_ALTERAR')">
                    <h:panelGroup id="pnlForm" rendered="#{${table.atributeName}Bean.pageForm}" layout="block">
                        <ui:insert name="form">
                            <ui:include src="/pages/$table.name.toLowerCase()/form.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
                    <h:panelGroup id="pnlList" rendered="#{${table.atributeName}Bean.pageList}" layout="block">
                        <ui:insert name="list">
                            <ui:include src="/pages/$table.name.toLowerCase()/list.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>
            </h:panelGroup>
        </sec:authorize>
    </ui:define>

    <ui:define name="direita">
        <h3>Opções</h3>
        <h:form id="frmInnerMenu" prependId="false">
            <ul>
                <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_LER', 'OP_$table.name.toUpperCase()_ALTERAR', 'OP_$table.name.toUpperCase()_EXCLUIR')">
                    <li><h:commandButton id="btnList" styleClass="#{${table.atributeName}Bean.pageList ? 'menu-ativo' : ''}"
                            actionListener="#{${table.atributeName}Bean.loadSearchMode}" value="Pesquisa" /></li>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('OP_$table.name.toUpperCase()_INCLUIR')">
                    <li><h:commandButton id="btnForm" styleClass="#{${table.atributeName}Bean.pageForm ? 'menu-ativo' : ''}"
                            actionListener="#{${table.atributeName}Bean.loadInsertMode}" value="Cadastro" /></li>
                </sec:authorize>
            </ul>
        </h:form>
    </ui:define>

</ui:composition>