<project-modules id="moduleCoreId" project-version="2.0">
  <wb-module deploy-name="tjrn-default">
    <property name="context-root" value="tjrn-default"/>
    <wb-resource deploy-path="/" source-path="src/main/webapp"/>
    <property name="java-output-path" value="/target/classes"/>
    <dependent-module archiveName="activation-1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/activation/activation/1.1/activation-1.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="antlr-2.7.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/antlr/antlr/2.7.6/antlr-2.7.6.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-audit-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-audit/0.7.0.Beta8/arq-audit-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-commons-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-commons/0.7.0.Beta8/arq-commons-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-persistence-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-persistence/0.7.0.Beta8/arq-persistence-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-report-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-report/0.7.0.Beta8/arq-report-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-security-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-security/0.7.0.Beta8/arq-security-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-service-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-service/0.7.0.Beta8/arq-service-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="arq-vc-jsf-0.7.0.Beta8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/br/jus/tjrn/arq/arq-vc-jsf/0.7.0.Beta8/arq-vc-jsf-0.7.0.Beta8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="asm-3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/asm/asm/3.1/asm-3.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="aspectjlib-1.6.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjlib/1.6.2/aspectjlib-1.6.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="aspectjrt-1.6.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjrt/1.6.10/aspectjrt-1.6.10.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="aspectjtools-1.6.9.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjtools/1.6.9/aspectjtools-1.6.9.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="aspectjweaver-1.6.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjweaver/1.6.8/aspectjweaver-1.6.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="bcmail-jdk14-138.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/bouncycastle/bcmail-jdk14/138/bcmail-jdk14-138.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="bcmail-jdk14-1.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/bouncycastle/bcmail-jdk14/1.38/bcmail-jdk14-1.38.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="bcprov-jdk14-138.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/bouncycastle/bcprov-jdk14/138/bcprov-jdk14-138.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="bcprov-jdk14-1.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/bouncycastle/bcprov-jdk14/1.38/bcprov-jdk14-1.38.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="bctsp-jdk14-1.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/bouncycastle/bctsp-jdk14/1.38/bctsp-jdk14-1.38.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="c3p0-0.9.5.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/mchange/c3p0/0.9.5.5/c3p0-0.9.5.5.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="castor-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/castor/castor/1.2/castor-1.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="cglib-2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/cglib/cglib/2.2/cglib-2.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-beanutils-1.8.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.8.0/commons-beanutils-1.8.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-codec-1.11.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.11/commons-codec-1.11.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-collections-3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-collections/commons-collections/3.1/commons-collections-3.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-digester-1.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-digester/commons-digester/1.7/commons-digester-1.7.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-fileupload-1.2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-fileupload/commons-fileupload/1.2.2/commons-fileupload-1.2.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-io-1.3.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/1.3.2/commons-io-1.3.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-lang-2.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.6/commons-lang-2.6.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="commons-logging-1.1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="dom4j-1.6.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/dom4j/dom4j/1.6.1/dom4j-1.6.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="geronimo-stax-api_1.0_spec-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-stax-api_1.0_spec/1.0/geronimo-stax-api_1.0_spec-1.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="gmbal-api-only-3.1.0-b001.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/glassfish/gmbal/gmbal-api-only/3.1.0-b001/gmbal-api-only-3.1.0-b001.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="ha-api-3.1.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/glassfish/ha/ha-api/3.1.8/ha-api-3.1.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="hibernate-commons-annotations-3.2.0.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-commons-annotations/3.2.0.Final/hibernate-commons-annotations-3.2.0.Final.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="hibernate-core-3.6.10.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-core/3.6.10.Final/hibernate-core-3.6.10.Final.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="hibernate-jpa-2.0-api-1.0.1.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/javax/persistence/hibernate-jpa-2.0-api/1.0.1.Final/hibernate-jpa-2.0-api-1.0.1.Final.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="hibernate-validator-4.3.0.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-validator/4.3.0.Final/hibernate-validator-4.3.0.Final.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="istack-commons-runtime-2.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/istack/istack-commons-runtime/2.2.1/istack-commons-runtime-2.2.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="itext-2.1.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/lowagie/itext/2.1.7/itext-2.1.7.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jasperreports-4.1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/net/sf/jasperreports/jasperreports/4.1.2/jasperreports-4.1.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="javassist-3.12.1.GA.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javassist/javassist/3.12.1.GA/javassist-3.12.1.GA.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="javax.annotation-3.1-b35.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/glassfish/javax.annotation/3.1-b35/javax.annotation-3.1-b35.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="javax.faces-2.2.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/glassfish/javax.faces/2.2.8/javax.faces-2.2.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="javax.inject-1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/inject/javax.inject/1/javax.inject-1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jaxb-api-2.2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/xml/bind/jaxb-api/2.2.2/jaxb-api-2.2.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jaxb-impl-2.2.3-1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/bind/jaxb-impl/2.2.3-1/jaxb-impl-2.2.3-1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jaxws-api-2.2.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/xml/ws/jaxws-api/2.2.3/jaxws-api-2.2.3.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jaxws-rt-2.2.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/ws/jaxws-rt/2.2.3/jaxws-rt-2.2.3.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jaxws-spring-1.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/jvnet/jax-ws-commons/spring/jaxws-spring/1.8/jaxws-spring-1.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jboss-logging-3.1.0.CR2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/jboss/logging/jboss-logging/3.1.0.CR2/jboss-logging-3.1.0.CR2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jcl-over-slf4j-1.5.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/jcl-over-slf4j/1.5.10/jcl-over-slf4j-1.5.10.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jcommon-1.0.15.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jfree/jcommon/1.0.15/jcommon-1.0.15.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jdtcore-3.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/eclipse/jdtcore/3.1.0/jdtcore-3.1.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jfreechart-1.0.12.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jfree/jfreechart/1.0.12/jfreechart-1.0.12.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jmimemagic-0.1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jmimemagic/jmimemagic/0.1.2/jmimemagic-0.1.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jsr181-api-1.0-MR1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/jws/jsr181-api/1.0-MR1/jsr181-api-1.0-MR1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jsr250-api-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/annotation/jsr250-api/1.0/jsr250-api-1.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jstl-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/servlet/jstl/1.2/jstl-1.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jta-1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/transaction/jta/1.1/jta-1.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="jtds-1.2.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/net/sourceforge/jtds/jtds/1.2.4/jtds-1.2.4.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="log4j-1.2.15.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.15/log4j-1.2.15.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="mail-1.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/mail/mail/1.4/mail-1.4.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="management-api-3.0.0-b012.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/glassfish/external/management-api/3.0.0-b012/management-api-3.0.0-b012.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="mchange-commons-java-0.2.19.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/mchange/mchange-commons-java/0.2.19/mchange-commons-java-0.2.19.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="mimepull-1.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/jvnet/mimepull/1.5/mimepull-1.5.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="oro-2.0.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/oro/oro/2.0.8/oro-2.0.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="poi-3.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi/3.6/poi-3.6.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="poi-ooxml-3.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi-ooxml/3.6/poi-ooxml-3.6.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="poi-ooxml-schemas-3.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi-ooxml-schemas/3.6/poi-ooxml-schemas-3.6.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="policy-2.2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/ws/policy/2.2.2/policy-2.2.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="primefaces-5.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/primefaces/primefaces/5.2/primefaces-5.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="resolver-20050927.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/org/apache/xml/internal/resolver/20050927/resolver-20050927.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="saaj-api-1.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/xml/soap/saaj-api/1.3/saaj-api-1.3.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="saaj-impl-1.3.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/messaging/saaj/saaj-impl/1.3.8/saaj-impl-1.3.8.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="servlet-api-2.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/servlet/servlet-api/2.5/servlet-api-2.5.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="sjsxp-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/stream/sjsxp/1.0/sjsxp-1.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="slf4j-api-1.5.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.5.10/slf4j-api-1.5.10.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="slf4j-log4j12-1.5.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-log4j12/1.5.10/slf4j-log4j12-1.5.10.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-aop-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aop/3.1.1.RELEASE/spring-aop-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-asm-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-asm/3.1.1.RELEASE/spring-asm-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-beans-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-beans/3.1.1.RELEASE/spring-beans-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-binding-2.2.1.BUILD-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/webflow/spring-binding/2.2.1.BUILD-SNAPSHOT/spring-binding-2.2.1.BUILD-SNAPSHOT.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-context-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context/3.1.1.RELEASE/spring-context-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-context-support-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context-support/3.1.1.RELEASE/spring-context-support-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-core-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-core/3.1.1.RELEASE/spring-core-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-expression-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-expression/3.1.1.RELEASE/spring-expression-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-faces-2.2.1.BUILD-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/webflow/spring-faces/2.2.1.BUILD-SNAPSHOT/spring-faces-2.2.1.BUILD-SNAPSHOT.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-jdbc-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jdbc/3.1.1.RELEASE/spring-jdbc-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-js-2.2.1.BUILD-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/webflow/spring-js/2.2.1.BUILD-SNAPSHOT/spring-js-2.2.1.BUILD-SNAPSHOT.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-js-resources-2.2.1.BUILD-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/webflow/spring-js-resources/2.2.1.BUILD-SNAPSHOT/spring-js-resources-2.2.1.BUILD-SNAPSHOT.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-ldap-core-1.3.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/ldap/spring-ldap-core/1.3.1.RELEASE/spring-ldap-core-1.3.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-orm-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-orm/3.1.1.RELEASE/spring-orm-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-security-config-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/security/spring-security-config/3.1.1.RELEASE/spring-security-config-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-security-core-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/security/spring-security-core/3.1.1.RELEASE/spring-security-core-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-security-ldap-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/security/spring-security-ldap/3.1.1.RELEASE/spring-security-ldap-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-security-web-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/security/spring-security-web/3.1.1.RELEASE/spring-security-web-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-tx-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-tx/3.1.1.RELEASE/spring-tx-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-web-3.1.1.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-web/3.1.1.RELEASE/spring-web-3.1.1.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-webflow-2.2.1.BUILD-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/webflow/spring-webflow/2.2.1.BUILD-SNAPSHOT/spring-webflow-2.2.1.BUILD-SNAPSHOT.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="spring-webmvc-3.0.4.RELEASE.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-webmvc/3.0.4.RELEASE/spring-webmvc-3.0.4.RELEASE.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="stax-api-1.0-2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/xml/stream/stax-api/1.0-2/stax-api-1.0-2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="stax-api-1.0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/stax/stax-api/1.0.1/stax-api-1.0.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="stax-ex-1.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/jvnet/staxex/stax-ex/1.4/stax-ex-1.4.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="streambuffer-1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/stream/buffer/streambuffer/1.2/streambuffer-1.2.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="txw2-20090102.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/sun/xml/txw2/txw2/20090102/txw2-20090102.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="validation-api-1.0.0.GA.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/validation/validation-api/1.0.0.GA/validation-api-1.0.0.GA.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="wstx-asl-3.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/woodstox/wstx-asl/3.2.1/wstx-asl-3.2.1.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="xbean-spring-2.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/xbean/xbean-spring/2.7/xbean-spring-2.7.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <dependent-module archiveName="xmlbeans-2.3.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/xmlbeans/xmlbeans/2.3.0/xmlbeans-2.3.0.jar">
      <dependency-type>uses</dependency-type>
    </dependent-module>
    <wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/java"/>
    <wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/resources/dev"/>
    <wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/resources/commons"/>
  </wb-module>
</project-modules>