<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:sec="http://www.springframework.org/security/tags">

    <div id="menu">
        <ul>
            <li><a href="#{path}/"><span>Início</span></a></li>

            <sec:authorize
                access="hasAnyRole('OP_PESSOA_LER', 'OP_PESSOA_INCLUIR', 'OP_PESSOA_ALTERAR', 'OP_PESSOA_EXCLUIR',
                'OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR',
                'OP_TIPO_CONTATO_LER', 'OP_TIPO_CONTATO_INCLUIR', 'OP_TIPO_CONTATO_ALTERAR', 'OP_TIPO_CONTATO_EXCLUIR')">
                <li class="has-sub"><a href="#"><span>Menu Geral</span></a>
                    <ul>
                        <sec:authorize access="hasAnyRole('OP_PESSOA_LER', 'OP_PESSOA_INCLUIR', 'OP_PESSOA_ALTERAR', 'OP_PESSOA_EXCLUIR')">
                            <li class="has-sub"><a href="#"><span>Pessoas</span></a>
                                <ul>
                                    <li><h:link outcome="/pages/pessoa/pessoa" title="Pessoas" value="Cadastro / Consulta" /></li>
                                    <li class="last"><h:link outcome="/pages/agenda/agenda" title="Agenda" value="Agenda" /></li>
                                </ul></li>
                        </sec:authorize>

                        <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
                            <li><h:link outcome="/pages/contato/contato" title="Tipos de Contato" value="Contatos" /></li>
                        </sec:authorize>
                        <sec:authorize
                            access="hasAnyRole('OP_TIPO_CONTATO_LER', 'OP_TIPO_CONTATO_INCLUIR', 'OP_TIPO_CONTATO_ALTERAR', 'OP_TIPO_CONTATO_EXCLUIR')">
                            <li class="last"><h:link outcome="/pages/tipocontato/tipocontato" title="Tipos de Contato"
                                    value="Tipos de Contato" /></li>
                        </sec:authorize>

                        <li><h:link title="Menu 4" value="Menu 4 Cadastro Com Descrição Grande" /></li>
                        <li><h:link title="Menu 5" value="Menu 5" /></li>
                        <li><h:link title="Menu 6" value="Menu 6" /></li>
                        <li><h:link title="Menu 7" value="Menu 7" /></li>
                        <li><h:link title="Menu 8" value="Menu 8" /></li>
                        <li><h:link title="Menu 9" value="Menu 9" /></li>
                        <li class="last"><h:link title="Menu 10" value="Menu 10" /></li>
                    </ul>
                    </li>
            </sec:authorize>

            <sec:authorize access="hasAnyRole('OP_PESSOA_LER', 'OP_PESSOA_INCLUIR', 'OP_PESSOA_ALTERAR', 'OP_PESSOA_EXCLUIR')">
                <li class="has-sub"><a href="#"><span>Pessoas</span></a>
                    <ul>
                        <li><h:link outcome="/pages/pessoa/pessoa" title="Pessoas" value="Cadastro / Consulta" /></li>
                        <li class="last"><h:link outcome="/pages/agenda/agenda" title="Agenda" value="Agenda" /></li>
                    </ul></li>
            </sec:authorize>

            <sec:authorize access="hasAnyRole('OP_CONTATO_LER', 'OP_CONTATO_INCLUIR', 'OP_CONTATO_ALTERAR', 'OP_CONTATO_EXCLUIR')">
                <li><h:link outcome="/pages/contato/contato" title="Tipos de Contato" value="Contatos" /></li>
            </sec:authorize>

            <sec:authorize
                access="hasAnyRole('OP_TIPO_CONTATO_LER', 'OP_TIPO_CONTATO_INCLUIR', 'OP_TIPO_CONTATO_ALTERAR', 'OP_TIPO_CONTATO_EXCLUIR')">
                <li class="last"><h:link outcome="/pages/tipocontato/tipocontato" title="Tipos de Contato" value="Tipos de Contato" /></li>
            </sec:authorize>
            
            <sec:authorize
                access="hasAnyRole('OP_TIPO_UO_LER', 'OP_TIPO_UO_INCLUIR', 'OP_TIPO_UO_ALTERAR', 'OP_TIPO_UO_EXCLUIR')">
                <li><h:link outcome="/pages/tipouo/tipouo" title="Tipos de Uo" value="Tipos de Uo" /></li>
            </sec:authorize>
            
            <sec:authorize
                access="hasAnyRole('OP_UO_LER', 'OP_UO_INCLUIR', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
                <li><h:link outcome="/pages/uo/uo" title="Uo" value="Uo" /></li>
            </sec:authorize>
            
            <li><h:link outcome="/public/consultapublica" title="Consulta Pública" value="Consulta Pública" /></li>            

            <li class="last"><h:link outcome="/pages/testprime/tree" title="Tree"
                    value="Tree" /></li>
        </ul>
    </div>

</ui:composition>