<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <p:messages id="messages" globalOnly="true" />

    <h:outputText value="#{environmentBean.msgAlertaAmbienteAplicacao}" styleClass="msg aviso"
        rendered="#{environmentBean.msgAlertaAmbienteAplicacao != null}" />

    <ui:remove>
        <!-- 
        	Removido temporariamente por problemas com o PrimeFaces 5.
        	Uma vez habilitado o codigo abaixo, o componente "p:autocomplete" nao funciona,
            pois nao consegue disparar o evento definido na propriedade "completeMethod".
         -->
        <p:ajaxStatus id="statusUpdateOnAjaxRequest" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
    </ui:remove>

    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" resizable="false" closable="false" width="150" height="75"
        styleClass="statusCarregando">
        <p:graphicImage value="#{resource['images:ajax-loader.gif']}" />
        <h:outputLabel value="Carregando..." styleClass="input-label-left" />
    </p:dialog>




    <script type="text/javascript">
    var time_left = null;
    var seconds_left = null;
    var minutes_left = null;
    var time_out_page = null;
    
    var time_dec_interval;
    var time_clear_interval;
    
    function time_dec(){
      time_left--;
      seconds_left = time_left % 60;
      minutes_left = Math.floor(time_left/60);
      
      document.getElementById('seconds_left').innerHTML = seconds_left;
      document.getElementById('minutes_left').innerHTML = minutes_left;
      
      if(time_left == 0){
        clearInterval(time_dec_interval);
        //alert("Sessão expirada");
        timeoutDialog.show();
      }
    }
    
    function time_clear(){
      time_left = #{facesContext.externalContext.sessionMaxInactiveInterval};  
      seconds_left = time_left % 60;
      minutes_left = Math.floor(time_left/60);   
      time_out_page = "#{path}/logout"; //"#{request.contextPath}/f/login.xhtml";
      
      document.getElementById('seconds_left').innerHTML = seconds_left;
      document.getElementById('minutes_left').innerHTML = minutes_left;
      clearInterval(time_clear_interval);
      
      clearInterval(time_dec_interval);
      time_dec_interval = setInterval('time_dec()', 1000);
    }
    
    function time_out_new_login() {
      timeoutDialog.hide();   
    window.location.href = time_out_page;
    }
    
    
    time_clear_interval = setInterval('time_clear()', 0);
  </script>

    <!-- 
      Esse ajuste se faz nececessário para evitar que a ordenação de pesquisas
      via colunas de um componente "p:datatable" não apresentem o erro do "eterno 
      carregamento" quando não há usuário autenticado. O log exibido é o seguinte: 
      DEBUG web.context.HttpSessionSecurityContextRepository >>> SecurityContext is empty or anonymous - context will not be stored in HttpSession. 
      DEBUG web.context.SecurityContextPersistenceFilter >>> SecurityContextHolder now cleared, as request processing completed  

      Misael (2013-01-31)
	-->
    <sec:authorize access="isAuthenticated()">
        <p:ajaxStatus id="timerUpdateOnAjaxRequest" onstart="time_clear()" />
    </sec:authorize>

    <h:form>
        <p:dialog header="Sessão expirada" widgetVar="timeoutDialog" showEffect="fade" modal="true" width="400" height="100" closable="false"
            draggable="false" resizable="false" appendToBody="true">
            <p style="text-align: justify;">
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 5px 7px 50px 0;" /> A sua sessão expirou por medida de
                segurança. Para utilizar novamente o sistema é necessário efetuar login.
            </p>
            <p:commandButton style="width:80px;margin-top: 15px;" value="OK" oncomplete="time_out_new_login()" />
        </p:dialog>
    </h:form>

</ui:composition>