<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_TIPO_UO_INCLUIR', 'OP_TIPO_UO_ALTERAR')">
        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{tipoUoBean.entity.id}" />


                    <tjrn:inputText id="nome" label="Nome" value="#{tipoUoBean.entity.nome}" size="25" maxlength="50"
                        readonly="#{tipoUoBean.actionView}" />
                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="10">
                    <h:commandButton id="btnSaveAndClean" value="Salvar" actionListener="#{tipoUoBean.saveAndClean}"
                        rendered="#{not tipoUoBean.actionView}" styleClass="submitform" />
                    <h:commandButton id="btnSaveAndContinue" value="Salvar e continuar editando" actionListener="#{tipoUoBean.saveAndContinue}"
                        rendered="#{not tipoUoBean.actionView}" styleClass="submitform" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </sec:authorize>

</ui:composition>