<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_UO_INCLUIR', 'OP_UO_ALTERAR')">
        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{uoBean.entity.id}" />


                    <tjrn:inputText id="nome" label="Nome" value="#{uoBean.entity.nome}" size="50" maxlength="100"
                        readonly="#{uoBean.actionView}" />

                    <tjrn:inputText id="sigla" label="Sigla" value="#{uoBean.entity.sigla}" size="10" maxlength="20"
                        readonly="#{uoBean.actionView}" />

                    <h:outputLabel value="Ativa ?" styleClass="input-label" for="ativa" />
                    <h:selectBooleanCheckbox id="ativa" value="#{uoBean.entity.ativa}" readonly="#{uoBean.actionView}" />
                    <p:message id="ativa_message" for="ativa" />

                    <tjrn:selectOneMenu id="tipoUo" label="TipoUo" value="#{uoBean.entity.tipoUo}" valueOptionList="#{uoBean.tipoUoList}"
                        readonly="#{uoBean.actionView}" />
                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="10">
                    <h:commandButton id="btnSaveAndClean" value="Salvar" actionListener="#{uoBean.saveAndClean}"
                        rendered="#{not uoBean.actionView}" styleClass="submitform" />
                    <h:commandButton id="btnSaveAndContinue" value="Salvar e continuar editando" actionListener="#{uoBean.saveAndContinue}"
                        rendered="#{not uoBean.actionView}" styleClass="submitform" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </sec:authorize>

</ui:composition>