<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:tjrncc="http://java.sun.com/jsf/composite/util"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
        <h:panelGroup styleClass="busca" layout="block">
            <h:form id="frmSearch">
                <p:panel>
                    <f:validateBean disabled="true">
                        <h:panelGrid columns="3">

                            <tjrn:inputText id="nome" label="Nome" value="#{uoBean.entityToSearch.nome}" size="50" maxlength="100" />

                            <tjrn:inputText id="sigla" label="Sigla" value="#{uoBean.entityToSearch.sigla}" size="10" maxlength="20" />

                            <tjrn:selectOneMenuBoolean id="ativa" label="Ativa" styleClassOfLabel="input-label-left"
                                value="#{uoBean.entityToSearch.ativa}" />

                            <tjrn:selectOneMenu id="tipoUo" label="TipoUo" value="#{uoBean.entityToSearch.tipoUo}"
                                valueOptionList="#{uoBean.tipoUoList}" />
                        </h:panelGrid>
                    </f:validateBean>

                    <h:commandButton id="btnSearch" styleClass="submitform" actionListener="#{uoBean.search}" value="Buscar" />
                </p:panel>
            </h:form>
        </h:panelGroup>

        <h:form id="frmSearchList">

            <p:dataTable id="dtTable" var="obj" value="#{uoBean.dataLazyModel}" paginator="true" rows="10" lazy="true"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} Foram encontrados #{uoBean.dataLazyModel.rowCount} registros."
                paginatorPosition="bottom" styleClass="tabela" currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro foi encontrado.">

                <p:column headerText="Id" sortBy="#{obj.id}">
                    <h:outputText value="#{obj.id}" />
                </p:column>
                <p:column headerText="Nome" sortBy="#{obj.label}">
                    <h:outputText value="#{obj.label}" />
                </p:column>
                <p:column headerText="Sigla" sortBy="#{obj.sigla}">
                    <h:outputText value="#{obj.sigla}" />
                </p:column>
                <p:column headerText="Ativa" sortBy="#{obj.ativa}">
                    <h:outputText value="#{obj.ativa ? 'Sim' : 'Não'}" />
                </p:column>
                <p:column headerText="Tipo da Uo" sortBy="#{obj.tipoUo}">
                    <h:outputText value="#{obj.tipoUo.label}" />
                </p:column>
                <p:column headerText="Uo Pai" sortBy="#{obj.uoPai.label}">
                    <h:outputText value="#{obj.uoPai.label}" />
                </p:column>

                <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
                    <p:column headerText="Ações" styleClass="acoes">
                        <h:panelGrid columns="1">


                            <sec:authorize access="hasAnyRole('OP_UO_ALTERAR')">
                                <p:commandButton id="btnEdit" value="Alterar" actionListener="#{uoBean.loadEditMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>

                            <sec:authorize access="hasAnyRole('OP_UO_EXCLUIR')">
                                <p:commandButton id="btnDelete" value="Excluir" title="Excluir" actionListener="#{uoBean.delete(obj)}"
                                    icon="ui-icon ui-icon-close" update=":frmSearchList:dtTable, :messages">
                                    <p:confirm header="Exclusão de Registro" message="Deseja realmente excluir este registro?"
                                        icon="ui-icon-alert" />
                                </p:commandButton>
                            </sec:authorize>
                        </h:panelGrid>
                    </p:column>
                </sec:authorize>
            </p:dataTable>
        </h:form>
    </sec:authorize>
</ui:composition>
