<ui:composition template="/templates/uma-coluna.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="superior">
        <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_INCLUIR', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
            <h:form id="frmInnerMenuSuperior" prependId="false">
                <ul>
                    <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_INCLUIR', 'OP_UO_EXCLUIR')">
                        <li><h:commandButton id="btnList" styleClass="#{uoBean.pageList ? 'menu-ativo' : ''}"
                                actionListener="#{uoBean.loadSearchMode}" value="Pesquisa" /></li>
                    </sec:authorize>
                    
                    <sec:authorize access="hasAnyRole('OP_UO_INCLUIR')">
                        <li><h:commandButton id="btnForm" styleClass="#{uoBean.pageForm ? 'menu-ativo' : ''}"
                                actionListener="#{uoBean.loadInsertMode}" value="Cadastro" /></li>
                    </sec:authorize>
                    
                    <!-- Menu com opções específicas | Comentar caso não seja usado  -->
                    <ui:remove>
                        <li><img src="#{resource['images:marcador.png']}" /></li>
    
                        <li><a class="menuOpcoes" href="#">Outras Opções</a>
                            <ul>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                                <li><h:commandLink actionListener="#" title="Menu Item" value="Menu item" /></li>
                            </ul></li>
                    </ui:remove>
                    <!-- Fim do menu com opções específicas  -->
                </ul>
            </h:form>
        </sec:authorize>
    </ui:define>

    <ui:define name="breadcrumbs">
        <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_INCLUIR', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
            <p>Você está em:</p>
            <h:link outcome="/index" title="Página Inicial" value="Página Inicial" />
            <h:link outcome="/pages/uo/uo" title="Uo"
                value="Uo" />
    
            <h:link styleClass="last-breadcrumbs" outcome="/pages/uo/uo"
                title="#{uoBean.operationTitle}" value="#{uoBean.operationTitle}">
                <f:param name="mode" value="#{uoBean.mode}" />
                <f:param name="filter" value="#{uoBean.filter}" />
            </h:link>
        </sec:authorize>
    </ui:define>

    <ui:define name="conteudo">
        <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_INCLUIR', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
            <h:panelGroup id="pnlMain" layout="block">

                <sec:authorize access="hasAnyRole('OP_UO_INCLUIR', 'OP_UO_ALTERAR')">
                    <h:panelGroup id="pnlForm" rendered="#{uoBean.pageForm}" layout="block">
                        <ui:insert name="form">
                            <ui:include src="/pages/uo/form.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
                    <h:panelGroup id="pnlList" rendered="#{uoBean.pageList}" layout="block">
                        <ui:insert name="list">
                            <ui:include src="/pages/uo/list.xhtml" />
                        </ui:insert>
                    </h:panelGroup>
                </sec:authorize>
            </h:panelGroup>
        </sec:authorize>
    </ui:define>

    <ui:define name="direita">
        <h3>Opções</h3>
        <h:form id="frmInnerMenu" prependId="false">
            <ul>
                <sec:authorize access="hasAnyRole('OP_UO_LER', 'OP_UO_ALTERAR', 'OP_UO_EXCLUIR')">
                    <li><h:commandButton id="btnList" styleClass="#{uoBean.pageList ? 'menu-ativo' : ''}"
                            actionListener="#{uoBean.loadSearchMode}" value="Pesquisa" /></li>
                </sec:authorize>
                
                <sec:authorize access="hasAnyRole('OP_UO_INCLUIR')">
                    <li><h:commandButton id="btnForm" styleClass="#{uoBean.pageForm ? 'menu-ativo' : ''}"
                            actionListener="#{uoBean.loadInsertMode}" value="Cadastro" /></li>
                </sec:authorize>
            </ul>
        </h:form>
    </ui:define>

</ui:composition>