<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/uma-coluna.xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="conteudo">
        <h2>Página não encontrada</h2>
        <h:panelGroup id="msg" layout="block">A página solicitada não pôde ser localizada.</h:panelGroup>
        <h:link outcome="/index" value="Voltar" />
    </ui:define>
</ui:composition>
