<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/uma-coluna.xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="conteudo">
        <h2>Acesso Negado</h2>
        <h:outputText value="Ocorreu o seguinte erro: " />
        <h:panelGroup id="msg" layout="block" styleClass="loginerror">
            <h:outputText styleClass="ui-message-error" rendered="#{SPRING_SECURITY_403_EXCEPTION != null}"
                value="#{SPRING_SECURITY_403_EXCEPTION.message}" />
            <h:outputText styleClass="ui-message-error" rendered="#{SPRING_SECURITY_403_EXCEPTION == null}" value="Ocorreu um erro desconhecido" />
        </h:panelGroup>
        <h:link outcome="/index" value="Voltar" />
    </ui:define>
</ui:composition>
