<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/uma-coluna.xhtml"
    xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="head">
        <meta http-equiv="Refresh" content="1;url=#{path}" />
    </ui:define>
    <ui:define name="conteudo">
        <h2>Redirecionando...</h2>
        <h:panelGroup layout="block">
            <h:outputText value="Aguarde alguns instantes..." />
            <br />
            <h:outputText value="Caso o redirecionamento não ocorra, " />
            <h:link outcome="/index" value="clique aqui" />
        </h:panelGroup>
    </ui:define>
    
</ui:composition>
