<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/uma-coluna.xhtml">

    <ui:define name="conteudo">
        <h2>Sistema</h2>
        <p>Nam in est quis est sollicitudin pellentesque. Suspendisse a felis libero, tempor hendrerit dolor. Donec eget lectus vel elit
            elementum ullamcorper. Integer cursus tortor eu est euismod sit amet iaculis ligula sollicitudin. In eget pharetra enim. Phasellus
            metus turpis, laoreet malesuada gravida ac, mollis eget quam. Integer dapibus iaculis massa sollicitudin iaculis. Sed tincidunt
            lectus ac nisl laoreet vitae aliquet tortor tempor. Vivamus scelerisque ligula fermentum nisl pretium sodales.</p>
        <p>Ut est dui, fringilla nec lacinia id, varius quis urna. Sed lacinia, neque vitae laoreet tincidunt, diam justo viverra libero, ac
            blandit erat urna ac dolor. Nunc vitae gravida purus. Aliquam iaculis pellentesque varius. Integer ac tortor lectus, molestie
            elementum elit. In rutrum sem in nisi dignissim vitae pulvinar tortor elementum. Praesent rutrum ipsum a arcu vulputate et placerat
            odio mollis. Etiam cursus blandit cursus. Vivamus dui arcu, rhoncus sit amet dapibus non, fermentum at augue.</p>
        <p>Morbi venenatis, nibh non vehicula vulputate, urna dolor ultricies massa, sed faucibus mi elit eu dui. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam placerat consectetur elementum. Donec nec massa ligula. Nunc
            dapibus malesuada elit, sed interdum odio vehicula vitae. Curabitur elit nulla, tempor eget convallis vel, laoreet sit amet metus.
            Quisque eu mauris leo, sed adipiscing metus. Mauris sapien odio, lobortis sed feugiat ut, lobortis vel nulla. Vivamus varius
            dignissim diam, eu sagittis mi pretium eu. Nullam ultrices scelerisque aliquam. Pellentesque sodales sollicitudin pretium. Nunc dui
            ipsum, aliquet ut cursus ut, vehicula at tortor.</p>
        <p>Sed ultricies sapien vitae risus rhoncus ut lacinia nisi sodales. Mauris vitae felis dui, euismod dictum ante. Nunc eget nulla
            orci, vel consectetur dui. Maecenas sit amet augue tortor. Duis eu purus libero. Sed sed ante vel eros volutpat bibendum pretium
            sollicitudin velit. Aliquam erat volutpat.</p>
        <p>Sed in nisi mauris, quis gravida sem. Sed ut sollicitudin sapien. Quisque et diam lectus. Proin tincidunt tempus tellus, a cursus
            libero congue eu. In fringilla imperdiet cursus. Maecenas vitae risus vel nisl dignissim dictum. Aliquam elementum rutrum nulla, ac
            aliquam est suscipit venenatis. In hac habitasse platea dictumst. Morbi mattis sagittis fermentum.</p>
    </ui:define>

</ui:composition>