<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">
  
    <sec:authorize access="hasAnyRole('OP_PESSOA_INCLUIR', 'OP_PESSOA_ALTERAR')">
        <h:form id="frmSave">
            <p:panel>
                <p:focus />
                <h:panelGrid columns="1" cellpadding="10">
                    <h:inputHidden id="id" value="#{pessoaBean.entity.id}" />

                    <tjrn:inputText id="nome" label="Nome" value="#{pessoaBean.entity.nome}" size="50" maxlength="100"/>

                    <tjrn:inputText id="nomeAbreviado" label="NomeAbreviado" value="#{pessoaBean.entity.nomeAbreviado}" size="25" maxlength="50" />

                    <tjrn:inputText id="sexo" label="Sexo" value="#{pessoaBean.entity.sexo}" size="0" maxlength="1" />

                    <tjrn:inputText id="cpf" label="Cpf" value="#{pessoaBean.entity.cpf}" size="7" maxlength="14" />

                    <h:outputLabel value="DataNascimento" styleClass="input-label" for="dataNascimento" />
                    <p:calendar id="dataNascimento" value="#{pessoaBean.entity.dataNascimento}" pattern="dd/MM/yyyy" locale="pt_BR"
                        navigator="true" />
                    <p:message id="dataNascimento_message" for="dataNascimento" />

                    <h:outputLabel value="DataHoraUltimoRegistro" styleClass="input-label" for="dataHoraUltimoRegistro" />
                    <p:calendar id="dataHoraUltimoRegistro" value="#{pessoaBean.entity.dataHoraUltimoRegistro}" pattern="dd/MM/yyyy"
                        locale="pt_BR" navigator="true" />
                    <p:message id="dataHoraUltimoRegistro_message" for="dataHoraUltimoRegistro" />

                    <tjrn:inputText id="loginUsuarioUltimoRegistro" label="LoginUsuarioUltimoRegistro"
                        value="#{pessoaBean.entity.loginUsuarioUltimoRegistro}" size="10" maxlength="20" />
                </h:panelGrid>

                <h:panelGrid columns="5" cellpadding="10">
                    <h:commandButton id="btnSaveAndClean" value="Salvar" rendered="#{not pessoaBean.actionView}" actionListener="#{pessoaBean.saveAndClean}" styleClass="submitform" />
                    <h:commandButton id="btnSaveAndContinue" value="Salvar e continuar editando" rendered="#{not pessoaBean.actionView}" actionListener="#{pessoaBean.saveAndContinue}"
                        styleClass="submitform" />

                    <h:commandButton id="btnCriarNovoContatoExampleA" value="Criar novo contato (A)" 
                        action="#{contatoBean.criarNovoContato(pessoaBean.entity)}" styleClass="submitform" immediate="true"
                        rendered="#{not empty pessoaBean.entity.id}" />

                    <h:link id="btnCriarNovoContatoExampleB" outcome="/pages/contato/contato" value="Criar novo contato (B)"
                        rendered="#{not empty pessoaBean.entity.id}">
                        <f:param name="pessoaToLoadExampleB" value="#{pessoaBean.entity.id}" />
                    </h:link>

                    <h:link id="btnCriarNovoContatoExampleC" outcome="/pages/contato/contato" value="Criar novo contato (C)"
                        rendered="#{not empty pessoaBean.entity.id}">
                        <f:param name="pessoaToLoadExampleC" value="#{pessoaBean.entity.id}" />
                    </h:link>
                </h:panelGrid>
            </p:panel>
        </h:form>
    </sec:authorize>

</ui:composition>