<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:tjrncc="http://java.sun.com/jsf/composite/util"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <sec:authorize access="hasAnyRole('OP_PESSOA_LER', 'OP_PESSOA_ALTERAR', 'OP_PESSOA_EXCLUIR')">
        <h:panelGroup styleClass="busca" layout="block">
            <h:form id="frmSearch">
                <p:panel>
                    <f:validateBean disabled="true">
                        <h:panelGrid columns="3">

                            <tjrn:inputText id="nome" label="Nome" value="#{pessoaBean.entityToSearch.nome}" size="50" maxlength="100" />

                            <tjrn:inputText id="nomeAbreviado" label="NomeAbreviado" value="#{pessoaBean.entityToSearch.nomeAbreviado}"
                                size="25" maxlength="50" />

                            <tjrn:inputText id="sexo" label="Sexo" value="#{pessoaBean.entityToSearch.sexo}" size="0" maxlength="1" />

                            <tjrn:inputText id="cpf" label="Cpf" value="#{pessoaBean.entityToSearch.cpf}" size="7" maxlength="14" />

                            <h:outputLabel value="DataNascimento" styleClass="input-label" for="dataNascimento" />
                            <p:calendar id="dataNascimento" value="#{pessoaBean.entityToSearch.dataNascimento}" pattern="dd/MM/yyyy"
                                locale="pt_BR" navigator="true" />
                            <p:message id="dataNascimento_message" for="dataNascimento" />

                            <h:outputLabel value="DataHoraUltimoRegistro" styleClass="input-label" for="dataHoraUltimoRegistro" />
                            <p:calendar id="dataHoraUltimoRegistro" value="#{pessoaBean.entityToSearch.dataHoraUltimoRegistro}"
                                pattern="dd/MM/yyyy" locale="pt_BR" navigator="true" />
                            <p:message id="dataHoraUltimoRegistro_message" for="dataHoraUltimoRegistro" />

                            <tjrn:inputText id="loginUsuarioUltimoRegistro" label="LoginUsuarioUltimoRegistro"
                                value="#{pessoaBean.entityToSearch.loginUsuarioUltimoRegistro}" size="10" maxlength="20" />
                        </h:panelGrid>
                    </f:validateBean>

                    <h:commandButton id="btnSearch" styleClass="submitform" actionListener="#{pessoaBean.search}" value="Buscar" />
                </p:panel>
            </h:form>
        </h:panelGroup>

        <h:form id="frmSearchList">

            <p:dataTable id="dtTable" var="obj" value="#{pessoaBean.dataLazyModel}" paginator="true" rows="10" lazy="true"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} Foram encontrados #{pessoaBean.dataLazyModel.rowCount} registros."
                paginatorPosition="bottom" styleClass="tabela" currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro foi encontrado.">

                <p:column headerText="Id" sortBy="#{obj.id}">
                    <h:outputText value="#{obj.id}" />
                </p:column>
                <p:column headerText="Nome" sortBy="#{obj.nome}">
                    <h:outputText value="#{obj.nome}" />
                </p:column>
                <p:column headerText="NomeAbreviado" sortBy="#{obj.nomeAbreviado}">
                    <h:outputText value="#{obj.nomeAbreviado}" />
                </p:column>
                <p:column headerText="Sexo" sortBy="#{obj.sexo}">
                    <h:outputText value="#{obj.sexo}" />
                </p:column>
                <p:column headerText="Cpf" sortBy="#{obj.cpf}">
                    <h:outputText value="#{obj.cpf}" />
                </p:column>
                <p:column headerText="DataNascimento" sortBy="#{obj.dataNascimento}">
                    <h:outputText value="#{obj.dataNascimento}" converter="javax.faces.DateTime" />
                </p:column>
                <p:column headerText="DataHoraUltimoRegistro" sortBy="#{obj.dataHoraUltimoRegistro}">
                    <h:outputText value="#{obj.dataHoraUltimoRegistro}" converter="javax.faces.DateTime" />
                </p:column>
                <p:column headerText="LoginUsuarioUltimoRegistro" sortBy="#{obj.loginUsuarioUltimoRegistro}">
                    <h:outputText value="#{obj.loginUsuarioUltimoRegistro}" />
                </p:column>

                <sec:authorize access="hasAnyRole('OP_PESSOA_ALTERAR', 'OP_PESSOA_EXCLUIR')">
                    <p:column headerText="Ações" styleClass="acoes">
                        <h:panelGrid columns="1">
                            <sec:authorize access="hasAnyRole('OP_PESSOA_LER')">
                                <p:commandButton id="btnView" value="Visualizar" actionListener="#{pessoaBean.loadViewMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>                            
                        
                            <sec:authorize access="hasAnyRole('OP_PESSOA_ALTERAR')">
                                <p:commandButton id="btnEdit" value="Alterar" actionListener="#{pessoaBean.loadEditMode(obj)}"
                                    update=":mainBody, :messages" icon="ui-icon ui-icon-pencil" />
                            </sec:authorize>

                            <sec:authorize access="hasAnyRole('OP_PESSOA_EXCLUIR')">
                                <p:commandButton id="btnDelete" value="Excluir" actionListener="#{pessoaBean.delete(obj)}" icon="ui-icon-close"
                                    update=":frmSearchList:dtTable, :messages">
                                    <p:confirm header="Exclusão de Registro" message="Deseja realmente excluir este registro?"
                                        icon="ui-icon-alert" />
                                </p:commandButton>
                            </sec:authorize>
                        </h:panelGrid>
                    </p:column>
                </sec:authorize>
            </p:dataTable>
            
            
            <p:dataTable id="dtTable2" var="obj" value="#{pessoaBean.dataModel}" paginator="true" rows="10"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} Foram encontrados #{pessoaBean.dataLazyModel.rowCount} registros."
                paginatorPosition="bottom" styleClass="tabela" currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro foi encontrado."
                selection="#{pessoaBean.dataModelSelected}" rowKey="#{obj.id}">
                
                <f:facet name="header">
                    <h:outputText value="Datable Com Seleção de Registros" />
                </f:facet>                
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                <p:column headerText="Id" sortBy="#{obj.id}">
                    <h:outputText value="#{obj.id}" />
                </p:column>
                <p:column headerText="Nome" sortBy="#{obj.nome}">
                    <h:outputText value="#{obj.nome}" />
                </p:column>
                <p:column headerText="NomeAbreviado" sortBy="#{obj.nomeAbreviado}">
                    <h:outputText value="#{obj.nomeAbreviado}" />
                </p:column>
                <p:column headerText="Sexo" sortBy="#{obj.sexo}">
                    <h:outputText value="#{obj.sexo}" />
                </p:column>
                <p:column headerText="Cpf" sortBy="#{obj.cpf}">
                    <h:outputText value="#{obj.cpf}" />
                </p:column>
                <p:column headerText="DataNascimento" sortBy="#{obj.dataNascimento}">
                    <h:outputText value="#{obj.dataNascimento}" converter="javax.faces.DateTime" />
                </p:column>
                <p:column headerText="DataHoraUltimoRegistro" sortBy="#{obj.dataHoraUltimoRegistro}">
                    <h:outputText value="#{obj.dataHoraUltimoRegistro}" converter="javax.faces.DateTime" />
                </p:column>
                <p:column headerText="LoginUsuarioUltimoRegistro" sortBy="#{obj.loginUsuarioUltimoRegistro}">
                    <h:outputText value="#{obj.loginUsuarioUltimoRegistro}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="dtTable2" icon="pi pi-search" value="Selecionar"  update=":messages"/>
                </f:facet>
            </p:dataTable>            
        </h:form>
    </sec:authorize>
</ui:composition>
