<ui:composition template="/templates/uma-coluna.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:tjrn="http://facelets.tjrn.jus.br"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="conteudo">
        <h2 style="margin: 0 0 2px;">Consulta Pública</h2>

        <div>Operações permitidas para um usuário anônimo nessa página:</div>
        <ul>
            <li><sec:authorize access="hasAnyRole('OP_TIPO_CONTATO_LER')">OP_TIPO_CONTATO_LER</sec:authorize></li>
            <li><sec:authorize access="hasAnyRole('OP_TIPO_CONTATO_INCLUIR')">OP_TIPO_CONTATO_INCLUIR</sec:authorize></li>
            <li><sec:authorize access="hasAnyRole('OP_TIPO_CONTATO_ALTERAR')">OP_TIPO_CONTATO_ALTERAR</sec:authorize></li>
            <li><sec:authorize access="hasAnyRole('OP_TIPO_CONTATO_EXCLUIR')">OP_TIPO_CONTATO_EXCLUIR</sec:authorize></li>
        </ul>
    </ui:define>

</ui:composition>